contextily~=1.6.2
fastapi~=0.115.0
geopandas~=1.1.1
geopy~=2.4.1
matplotlib~=3.10.8
numpy~=2.4.1
pandas~=2.3.3
Pillow~=12.1.0
pypdf~=6.6.0
python_json_logger~=3.2.1
questionary~=2.1.1
reportlab~=4.2.5
Requests~=2.32.5
rich_argparse~=1.7.2
scipy~=1.17.0
Shapely~=2.1.2
svglib~=1.5.1
tqdm~=4.67.1
uvicorn~=0.30.0
xyzservices~=2025.10.0
